.img {
  width: 400px;
  border: 1px solid lightgray;
  border-radius: 5px;
}
.container {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

@media (max-width: 600px) {
  .img {
    width: 90vw;
    border: none;
  }
}
